@import 'variables', 'resets';

body {
    font-family: "Montserrat", sans-serif;
    background: $primary-dark;
    color: $primary-light;
}

.header {
    padding: 1.5em;
    text-align: center;


    .logo-container {
        position: absolute;
        left: 2em;

        .logo-text {
            font-weight: 700;
            font-size: 1.2em;

            &, &_offset {
                font-family: 'Montserrat', sans-serif;
            }

            &_offset {
                font-weight: 300;
                font-size: 1.5em;
                position: relative;
                top: 6px;
                text-decoration: underline;
            }
        }
        
    }
    
    .main-heading {
        margin-top: 1.5em;
        font-size: 3.5em;

        &_span {
            position: relative;
            top: 8px;
            font-weight: 200;
            text-decoration: underline;
        }
    }
    .sub-heading {
        margin-top: 1em;
        font-weight: 200;
    }
}

.main {
    width: 90%;
    margin: 0 auto;

    .searchbar {
        background-color: $primary-light;
        width: 70%;
        margin: 0 auto 2.2em auto;
        height: 2.6em;
        border-radius: 20px;
        display: flex;

        &_field {
            height: 100%;
            width: 90%;
            padding: 1em;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border: none;
            font-size: 1rem;
        }

        &_btn{
            height: 100%;
            width: 20%;
            border-radius: 20px;
            border: none;
            background: #12c2e9;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
            color: $primary-light;
            font-size: 1.1rem;
        }
    }

    .gifs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1em;
        

        &_container {
            width: 200px;
            justify-self: center;

            img {
                max-width: 200px;
            }
        }
    }
}

.footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    padding: 1em;
    background: $primary-dark;
}